
@{
    Page.Title = "Medya";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/scripts/dropzone/basic.min.css" rel="stylesheet" />
<link href="~/scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<script src="~/scripts/dropzone/dropzone.min.js"></script>
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Öğe Sil
            </div>
            <div class="modal-body">
                Seçili öğeler silinecektir devam edilsin mi?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <a class="btn btn-danger btn-ok">Tamam</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalAddFolder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Yeni Klasör</h4>
            </div>
            <div id="modalAddFolderContent"></div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalEditFolder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Klasör</h4>
            </div>
            <div id='modalEditFolderContent'></div>
        </div>
    </div>
</div>
<div class="container flex-grow-1 light-style container-p-y">
    <div class="container-m-nx container-m-ny bg-lightest mb-3">
        <hr class="m-0" />

        <div class="file-manager-actions container-p-x py-2">
            <div>
                @if (ViewBag.Browser == "false")
                {
                    <button type="button" class="btn btn-primary mr-2" id="btnFileUpload"><i class="fa fa-cloud-upload"></i>&nbsp; Yükle</button>
                    <button type="button" class="btn btn-secondary " disabled="" id="btnFileDownload"><i class="fa fa-cloud-download"></i></button>
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-default md-btn-flat dropdown-toggle dropdown-preferences px-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-gear"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left dropdown-preferences-menu">
                            <li data-item="new-folder"><a href="javascript:void(0)">Yeni Klasör</a></li>
                            <li><hr class="separator" /></li>
                            <li data-item="items-delete" class="disabled"><a href="javascript:void(0)">Sil</a></li>
                        </ul>
                    </div>
                }
            </div>
            <div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-default icon-btn md-btn-flat active"> <input type="radio" name="file-manager-view" value="file-manager-col-view" checked="" /> <span class="fa fa-th"></span> </label>
                    <label class="btn btn-default icon-btn md-btn-flat"> <input type="radio" name="file-manager-view" value="file-manager-row-view" /> <span class="fa fa-list"></span> </label>
                </div>
            </div>
        </div>
        <hr class="m-0" />
        <div class="panel panel-default" id="divMedia">
            <div class="panel-heading">/</div>
            <div class="panel-body">
                @if (ViewBag.Browser == "false")
                {
                    <form action="/Media/File/Upload"
                          class="dropzone dropzone-none-area"
                          id="fileupload">
                        <div class="file-manager-container file-manager-col-view"></div>
                    </form>
                }
                else
                {
                    <form action="javascript:">
                        <div class="file-manager-container file-manager-col-view"></div>
                    </form>
                }
            </div>
        </div>
    </div>

</div>
<script src="~/scripts/pages/admin/media.js"></script>
<script>
    $(function () {
        media.isBrowser = "@ViewBag.Browser";
        if (media.isBrowser == "false") {
            console.log("dropzone activated!");
            Dropzone.autoDiscover = false;
            media.fileUploadCreate();
        } else {
            localStorage.removeItem("file-path");
            $(".navbar").remove();
        }
        media.load();
    });
</script>