@model MiniBlog.Models.UserModel
@{
    Page.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="well">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4"> 
            <label>Kullanıcı Seviyesi</label>
            @Html.DropDownListFor(m => m.AuthorityLevel, ViewBag.Levels as SelectList, "Seçiniz", new { @class = "form-control", @id = "selectLevels" })
            <button class="btn btn-info" type="button" id="btnListUsers"><i class="fa fa-list"></i>&nbsp;Listele</button>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-success" type="button" onclick="users.add();"><i class="fa fa-plus"></i> Yeni Kullanıcı</button>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="divUsers">

    </div>
    <div class="col-md-2"></div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalAddUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Yeni Kullanıcı</h4>
            </div>
           <div id="modalAddUserContent"></div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalEditUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Kullanıcı Düzenle</h4>
            </div>
            <div id='modalEditUserContent'></div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Kullanıcı Sil
            </div>
            <div class="modal-body">
                Bu kullanıcı ve yazdığı blog yazıları silinecektir devam edilsin mi?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <a class="btn btn-danger btn-ok">Sil</a>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/pages/admin/users.js"></script>
