@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "404 Sayfa Bulunamadı!";
}

<div class="list-header clearfix">
    <h3>Sayfa Bulunamadı</h3>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Beklenmeyen bir hata oluştu. Lütfen sistem yöneticisine başvurun.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>
