@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<header class="intro-header" style="background-image: url(@Url.Content("~/Content/imgs/about-bg.jpg"))">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@ViewBag.Title</h1>
                    <span class="subheading">Web'e dair her şey...</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
            <p>Merhaba ben&nbsp;<strong>Selahattin</strong> kişisel günlüğüme&nbsp;hoş geldin burada kendimle, projelerimle ilgili şeyler bulabilirsin kısaca ben:</p>
            <p><strong>[GÜNCELLEME – 03.08.2016 14:30]</strong> 1996 Yılında 16 Ağustos’da dünyaya geldim 19 yaşındayım Bolu’nun Gerede ilçesinde doğdum şu an Bolu’da yaşamaktayım. İlgilendiğim programlama dilleri şunlardır: Java,C# ve javascript kütüphanelerinden jQuery, AngularJS. Önceden ilgilendiğim diller ise Visual Basic, PHP az çok tecrübem vardır bu dillerle uğraşmayalı 4 sene olmuştur. Görüşlerinizi ya da yardım almak istediğiniz bir konu olursa:</p>
            <p><b>iletisim@selahattinyuksel.net</b>‘e mail atabilirsiniz <img draggable="false" width="16" height="16" class="emoji" alt="🙂" src="https://s.w.org/images/core/emoji/2.4/svg/1f642.svg"> ya da sosyal medyadan bana ulaşabilirsiniz.</p>
        </div>
    </div>
</div>